

.MainVideo{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    background-color: var(--bgcolorS);
}
.MainVideo::after{
    position: absolute;
    content:'';
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #1919197c;

}
.MainVideo video{
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
    transition: .5s linear;
}
.VideoVisible{
    opacity: 1;
}
.VideoHidden{
    opacity: 0;
}


.CompanyName{
    position: absolute;
    display: block;
    z-index: 98;
    color:#fff;
    margin-left: var(2%);
    font-size:  clamp(var(--fontsizeM), 6vw, 10vw);
    line-height: max(6vw, 30px);
    font-family: var(--fontF);
    text-transform: uppercase;
    font-weight: 700;
    top: calc(100vh - var(--fontsizeS) - 10vw);
    left: 0;
}
.CompanyNameSmall{
    font-size:clamp(calc(var(--fontsizeS) - 2vh) , 12vw, 17vw);
}

.CompanyDescription{
    position: absolute;
    display: block;
    z-index: 98;
    width: 35%;
    color:#fff;
    margin-left: var(--spaceside);
    font-size: clamp(var(--fontsizeW), 3vw, 4vw);
    font-family: var(--fontF);
    text-transform: uppercase;
    font-weight: 300;
    top: calc(100vh - var(--fontsizeS) - 12.3vw);
    right: 0;
    flex-wrap: nowrap;
}

@media (max-width:812px){
    .description{
        font-size: var(--fontsizeW);
        top:50%;
        left: -5%;
        transform: translate(0,-100%);
        width: 100% !important;
    }
    .description br{
        display: none;
    }
}
@media (max-width:812px){
    .CompanyName{
        top:50% !important;
        left: 5% !important;
        transform: translate(-0%,-150%) !important;
        

    }
    .CompanyDescription{
       left:0%;
       width: 90%;
       top:  45%;
       
        
    }

    
}

.About{
    width: 100%;
    padding-left: var(--spaceside);
    padding-right: var(--spaceside);
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--akcentTransparent);
    padding-top: 5%;
}
.Heading{
    position: relative;
    display: block;
    font-size: clamp(var(--fontsizeW), 4vw, 7vw);
    font-family: var(--fontF);
    text-transform: uppercase;
    font-weight: 700;
    color:var(--akcent);
}
.DescriptionAbout{
    position: relative;
    display: block;
    font-size: clamp(var(--fontsizeW), 2vw, 3vw);
    font-family: var(--fontF);
    text-transform: uppercase;
    font-weight: 500;
    color:var(--akcent);
    margin-top: var(--spaceside);
    
}
.videoAbout{
    position: relative;
    margin-top: 10vh;
    width: 100%;
    margin-left: -2.5%;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    border-radius:25px ;
    transition: .2s all ease-out;
    cursor: pointer;
    z-index: 50;

}
.VideoPreview{
    position: relative;
    overflow: hidden;
    object-fit: contain;
    border-radius: 15px;
    transition: all 0.3s ease-out;
    opacity: 1;
    margin-bottom: 15px;
}
.PlayBtn{
    z-index: 60;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: block;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 50%;
}
.PlayBtn::after{
    content: '';
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    position: absolute;
    border: 35px solid transparent;
    border-left: 65px solid #fff;
}
.MuteBtn{
    z-index: 60;
    position: absolute;
    left: 2.5%;

}
.HiddenClass{
    display: none;
}


