.serviceWrapper {

    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;

}

.ImgWrapper {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;

}

.ImgService {
    filter: blur(15px);
    min-height: 400px;
    object-fit: cover;
    width: 100%;
    height: 35vw;

}

.ImageTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: var(--fontF);
    font-size: clamp(1rem, 15vw, calc(var(--fontsizeS) + 1rem));
    color: var(--akcent);
    font-weight: 800;
}

.ContactBlocks {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: -10%;
    margin-bottom: 50px;
}

.contact {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    min-width: 250px;

    width: 40vw;
    height: fit-content;
    background-color: #bfbdbd;
    /*border-radius: 15px;*/
    box-sizing: border-box;
    padding: 2.5%;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
}

.ContactText {
    position: relative;
    display: block;
    font-size: clamp(var(--fontsizeW), 2vw, 3vw);
    font-family: var(--fontF);
    text-transform: uppercase;
    font-weight: 500;
    color: var(--akcent);
    margin-top: var(--spaceside);
}

@media (max-width:800px) {
    .ContactBlocks {
        flex-direction: column;
    }

    .contact {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}