.cart {
  transition: .3s;
  z-index: 5000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 100px;
  right: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 5px;
  width: 200px;
  background-color: #3d1e4f;
  border-radius: 15px;
  transition: .3s;
  cursor: pointer;
  font-size: clamp(2rem, 4vw, 8rem);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-family: 'Rajdhani', sans-serif;

}

.cartInactiveElem {
  opacity: 0;
  width: 0;
}

.cartWidth {
  width: 25px;
}

.iconCart {
  transition: .2s;
  cursor: pointer;

  height: 25px;
  margin-top: 1%;

}

.busketLabel {
  transition: .2s;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
  color: #fff;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
}

.amountBusket {
  transition: .2s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  padding-top: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50px;
  font-size: 20px;
}

.cart:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #703a8f;
  transform: scale(1.1);
}



.cartFullScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  z-index: 7000;
  transform: translateX(100%);
  transition: .2s all ease-out;

}

.cartActive {
  transform: translateX(0);
}

.bgCart {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(53, 53, 53, 0.35);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);

}

.cartScreen {
  position: relative;
  display: flex;
  width: 60%;
  height: 100%;
  min-width: 400px;
  background-color: var(--bgcolorS);
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
  padding-top: 10px;

}

.cartTitle {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--fontF);
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.closeModal {
  position: relative;
  width: 24px;
  height: 24px;
  opacity: 0.2;
  margin-right: 5px;
  cursor: pointer;
  transition: opacity ease 0.5s;

  &:hover {
    opacity: 1;
  }
}

.closeModal::before,
.closeModal::after {
  content: '';
  position: absolute;
  top: 10px;
  display: block;
  width: 24px;
  height: 3px;
  background: #fff;
}

.closeModal::before {
  transform: rotate(45deg);
}

.closeModal::after {
  transform: rotate(-45deg);
}

.cartItems {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;

  align-items: center;
}

.cartItem {
  gap: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  height: 100px;
  
  align-items: center;

}

.cartItem::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #c9c9c9;
  bottom: -10px;
}

.imgWrapperCart {
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 100%;
  min-width: 125px;
  display: block;
}

.imgWrapperCart img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.textBlockCart {
  display: flex;
  flex-direction: column;
  color:#fff;
  font-family: var(--fontF);
  
  
}
.cartItemTitle{
  font-size: 1.5rem;
  
}
.cartItemDescr{
  font-size: 1rem;
  color:#a9a9a9;
  
}
.priceWrapper{
  font-size: 1.5rem;
  color:#fff;
}
.controlsCart{
  position: fixed;
  margin-left: 15px;
  display: flex;
  gap: 15px;
  bottom: 15px;
  z-index: 15000;
}
.controlsCart .closeCart , .proceedCart, .clearCart {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  text-shadow: none;
  
  cursor: pointer;
  
  border: 1px solid #ffffff80;
  transition: 0.2s ease;
  user-select: none;
}
.closeCart{
  background-color:#363636 ;
}
.closeCart:hover{
  transform: scale(1.1);
}
.clearCart:hover{
  transform: scale(1.1);
}
.clearCart{
 background-color: #703a8f;
}
.proceedCart{
  background-color:var(--akcent) ;
}
.proceedCart:hover{
  transform: scale(1.1);
}

@media (max-width: 700px) {
  .cartScreen {
    position: relative;
    display: flex;
    width: 100%;
    height: 100% !important;
    min-width: 400px;
    background-color: var(--bgcolorS);
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
    padding-top: 10px;
  
  }
  .bgCart{
    width: 0 !important;
  }
  
}

.mistake{
  background-color: rgba(250, 72, 72, 0.297) !important;
}