.topFilters {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
    width: 100%;
    height: 50px;
    color:#fff;
    box-sizing: border-box;
    padding: 0 5% 0 5%;
}
@media (max-width: 920px){
  .topFilters {
    height: fit-content;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100%;  
  }

  .topFilters > div{ 
    width: 100%;
  }
  .arrow{
    cursor: pointer; 
  }
  .arrow:after{
    visibility: hidden;
  }
  .dropdown-check-list .anchor:after {
    position: absolute;
    visibility: hidden;

  }
  .pages::after{
    position: absolute;
    visibility: hidden;
  }
  
}
.topFilters > div {
    box-sizing: border-box;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    position: relative;
    border: 1px solid #ffffff;
    font-size: 1.5em;
    
    height: 90%;
    font-weight: 400;
    font-family: var(--fontF);
}
.topFilters > div:first-child {
    flex-grow: 1;
}

.topFilters > div:nth-child(2) {
    flex-grow: 4;
}
.topFilters > div:nth-child(3),
.topFilters > div:nth-child(4),
.topFilters > div:nth-child(5) {
    flex-grow: 1;
}
#Categories{
    
    position: relative;
    display: block;
    background:green;
    border:none;
    font-size: .5em;
    font-family: var(--fontF);
    

}

.arrow{
  cursor: pointer;
}
.arrow:after{

    position: absolute;
    content: "";
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    padding: 5px;
    right: 10px;
    top: 30%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    box-sizing: border-box;
    transition: all .3s;
}
.arrow:active:after{
  top: 50%;
}



.dropdown-check-list {
    display: inline-block;
    box-sizing: border-box;
    text-wrap: nowrap;
  }
  
  .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 0;
    
    box-sizing: border-box;
  
    
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    padding: 5px;
    right: 10px;
    top: 30%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    box-sizing: border-box;
    transition: .1s;
  }
  
  .dropdown-check-list .anchor:active:after {
    top: 50%;
    
  }
  .dropdown-check-list .items{
    overflow: hidden;
    z-index: 500;
    top: 100%; 
    position: absolute;
    transition: .3s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }

  .dropdown-check-list .items .SelectLabels{
    position: relative;
    transition: .3s;    
    
    cursor: pointer;
    list-style-type: none;
    background-color: var(--akcentTransparent);
    color:#fff;
  }

  .activeSelect{
    
    background-color: var(--akcent) !important;
  }
  .dropdown-check-list .items label input{
    display: none;
  }

.filterSection{
  position: relative;
  cursor: pointer;
  transition: .3s;
  text-wrap: nowrap;
}
.filterSection:active{
  color:var(--akcent);
}
  .arrowChange{
    position: relative;
    top: -5%;
    margin-left: 10%;
    margin-right: 2%;
    border: solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
  }
  .activeArrow{
    transform:rotate(225deg) !important ;
    top: 10%;
  }

.PagesItems input{
  display: none;
} 
.PagesItems{
    
    width: 150px;
    overflow: hidden;
    z-index: 500;
    top: 100%; 
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.PagesSelect{
  background-color: var(--akcentTransparent);
  overflow: hidden;
  z-index: 5000;
  transition: .3s;
}

.pages::after{
  position: absolute;
  content: "";
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  padding: 5px;
  right: -50px;
  top: 30%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  box-sizing: border-box;
  transition: .1s;
}
.pages:active::after{
  top: 50%;
}
.shopWrapper{
  margin-top: 20px;
  position: relative;
  box-sizing: border-box;
  margin-left: 5%;
  margin-right: 2%;
  padding-left: 2%;
  padding-right: 5%;
  background-color: var(--akcentTransparent);
  width: 90%;
  justify-content: space-around;
  display: flex;
  transition: 1s;
  flex-direction: row;
  row-gap: 50px;
  flex-wrap: wrap;
  gap: 25px;
}
.Item{
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 4px 4px #000;
  box-sizing: border-box;
  padding: 2px;
  border: 2px solid #fff;
  font-family: var(--fontF);
  width: 350px;
  background-color:#69c79a;
}
.Item {
  opacity: 0; /* Начальная непрозрачность элемента */
  transition: opacity 0.3s ease; /* Анимация плавного появления */
}

.Item.added {
  opacity: 1; /* Конечная прозрачность элемента */
}
.imgWrapper{
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: 250px;
}
.ItemImg{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: relative;
  object-fit: cover;
  width: 100%;
}
.ItemTitle{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  overflow: hidden;
  max-height: 45px;
}

.ItemDescription{
  font-size: 1.3rem;
  overflow: hidden;
  max-height: 50px;
  

}
.ItemPrice{
  --accent: fuchsia;
  
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #212121;
  cursor: pointer;
  color: #fff;
  padding: 1em 2em;
  transition: transform ease-in-out 0.1s;
  align-self: flex-end; /* Размещаем кнопку в конце блока */
}

.ItemPrice:hover {
  background-color: #000;
}

.ItemPrice:active {
  
  background-color: var(--akcent);
  transform: scale(0.95);
} 


.controlsGallery{
  height: 1px;
  z-index: 5500;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top:50%;
  transform: translate(0,-50%);
  
}
.arrow{
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: inline-block;
  transition: .3s;
  border-top: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  box-sizing: border-box;
}
.left{
  margin: 0 0 0 10px;
  transform: rotate(-135deg);
}
.right{
  margin: 0 10px 0 0;
  transform: rotate(45deg);
}
.popUpProductVisible{
  opacity: 1 !important;
}
.popUpProduct{
  display: none;
  opacity: 0;
  font-family: var(--fontF);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #161616c8;
  z-index: 5000;
  cursor: pointer;
  transition: .2s;
}

.ItemWrapper{
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: fixed;  
  width: 40%;
  height: 90%;
  background-color: var(--akcentTransparent);
  z-index: 5001;
  cursor:auto;
}


.slider-container {
  position: relative;
  width: 100%;
  max-height: 400px;
  background-color: red;
  
  
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  scroll-behavior: smooth ;
  width: 100%;
  
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; /* Запрещаем перенос элементов на новую строку */
  overflow-x: hidden;
}

.slider img {
  width: 100%;
  position: relative;
  object-fit: cover;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  font-size: 40px;
  color: rgb(0, 0, 0);
  background-color:#14141435 ;
  
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}


.TitlePopUp{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
}
.FormDescription{
  margin-top: 10px;
  font-size: 1.3rem;
  height: fit-content;
}

.popUpPrice{

  --accent: fuchsia;
  transition: .2s;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #212121;
  cursor: pointer;
  color: #fff;
  padding: 1em 2em;
  transition: transform ease-in-out 0.1s;
  align-self: flex-end; /* Размещаем кнопку в конце блока */
}

.popUpPrice:hover {
  background-color: #000;
}


.popUpPrice:active {
  
  background-color: var(--akcent);
  transform: scale(0.95);
} 
.popUpAddToCart{
  background-color: var(--akcent);
}

.notificationCard {
  width: 200px;
  height: 150px;
  background: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 35px;
  gap: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7000;
  opacity: 0;
  display: none;
  transition: .3s;
}
.notificationCardActive{
  opacity: 1 !important;
  transition: .6s;
}
.notificationHeading {
  color: black;
  font-weight: 600;
  font-size: 2em;
}

.notificationPara {
  color: rgb(133, 133, 133);
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}



.intersectionObserverDiv {
  
  justify-content: center;
  color:#fff;
  text-transform: uppercase;
  font-size: var(--fontsizeM);
  width: 100%;
  margin-top: 15%;
  margin-bottom: 5%;
  display: none;
}





@media (max-width:950px){
  .ItemWrapper{
    width: 60%;
  }
}
@media (max-width:500px){
  .ItemWrapper{
    width: 100%;
  }
}
@media (max-width: 885px) {
    .Item{
      position: relative;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      box-shadow: 4px 4px #000;
      box-sizing: border-box;
      padding: 2px;
      border: 2px solid #fff;
      font-family: var(--fontF);
      width: 200px !important;
      height: 300px;
      background-color:#69c79a;
    }
    
  .imgWrapper{
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    height: 60% !important;
    
  }
  .ItemImg{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: relative;
    object-fit: cover;
    height: 100% !important;
  }
  .ItemTitle{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
  }

  .ItemDescription{
    font-size: 1.3rem;
    height: fit-content;

  }
  .ItemPrice{
    --accent: fuchsia;
    font-weight: bold;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: #212121;
    cursor: pointer;
    color: #fff;
    padding: 1em 2em;
    transition: transform ease-in-out 0.1s;
    align-self: flex-end; /* Размещаем кнопку в конце блока */
  }

  .ItemPrice:hover {
    background-color: #000;
  }

  .ItemPrice:active {
    
    background-color: var(--akcent);
    transform: scale(0.95);
  } 
}





.PopUpPurchase{
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 5002;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: .3s;
  
}
.formHidden{
  opacity: 0;
  visibility: hidden;
}

.form {
  z-index: 5005;
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 350px;
  padding: 20px;
  width: 320px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.input-container {
  height: 40px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 20px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 40px;
  outline: 0;
  padding: 4px 10px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 10px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 30px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
.splide{
  position: relative;
  width: 100%;
  height: 55%;
  
  overflow: hidden;
  z-index: 5000;
  object-fit: cover;
}
.splide__track{
  position: relative;
  width: 100%;
  height: 100%;
  
  overflow: hidden;
  
}
.splide__list{
  height: 100%;
  
}
.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoCardPopUp{
  position: relative;
  display: flex;
  flex-direction: column;
  
  width: 100%;
  

}

.buttonsPopUp{
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;

  
}